* {
    text-decoration: none;
}

.product-top img {
    width: 100%;
    height: 216px;

}

.product-top {
    border: 0.2px gainsboro dashed;
    text-align: center;
    position: relative;
}

.product-top p {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 10px;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 20px;
    padding-bottom: 5px;
    text-align: center;
    height: 37px;
    padding: 0 10px;
    color: black;
}

.flash {
    width: 120px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    .flash-img {
        width: 100%;
        height: 100%;
    }
}

.product {
    width: 215px;
    height: 320px;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 20px 20px;
}

.product-bottom {
    width: 100%;
    float: left;
    padding: 10px 10px 0px;
    border: 0.2px gainsboro dashed;
    min-height: 45px;
    position: relative;
    display: flex;

    &::before {
        content: "";
        width: 10px;
        height: 18px;
        background: #ffffff;
        position: absolute;
        top: -9px;
        left: -2px;
        border-radius: 0 18px 18px 0;
        border-top: solid #ececec 2px;
        border-right: solid #ececec 1px;
    }

    &::after {
        content: "";
        width: 10px;
        height: 18px;
        background: #ffffff;
        position: absolute;
        top: -9px;
        right: -2px;
        bottom: auto;
        border-radius: 18px 0 0 18px;
        border-top: solid #ececec 2px;
        border-left: solid #ececec 1px
    }

}

.product-bottom-left {
    flex: 1;
    margin-bottom: 5px;
    text-align: start;

    .price-final {
        font-size: 14px;
        font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
        color: #ff2d37;
        font-weight: 400;
        width: 100%;
        float: left;
        align-self: flex-start;
    }

    .price-real {
        position: relative;
        font-size: 14px;
        font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
        font-weight: 400;
        width: 100%;
        float: left;
        color: black;

    }

    .block-price-real {
        width: 77%;
        position: absolute;
        bottom: 8px;
        background-color: black;
        height: 2px;
        border: 0;
    }
}

.product-bottom-right {
    flex: 1;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .product-btn {
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
        color: #fff;
        background-color: #ff2d37;
        padding: 5px 8px 5px 8px;

        &:hover {
            background: #fff;
            color: #ff2d37;
        }
    }
}