.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
}

.bg-img {
    width: 100%;
    height: 500px;
}

.main-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-item-task {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 20px 0px 20px 0px;
}



.item-main {

    margin: 10px 10px 10px 15px;
    display: block;
    overflow: hidden;
    position: relative;


    .task-img {
        transform: scale(1);
        display: block;
        transition: all .3s ease;
        filter: brightness(85%)
    }

    .task-img:hover {
        transform: scale(1.1);
    }

}

.item-main-text {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;

    &:hover {
        color: crimson;
        transition: all .2s;
    }

}

.selling-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .selling {
        width: 1200px;
        text-align: center;
        background-color: #fff;

    }

    .selling-title {
        margin: 20px 0px 30px 0px;
        font-size: 27px;
        text-decoration: none;
        font-weight: inherit;
    }
}

.selling-list-item {
    display: flex;
    flex-wrap: wrap;

}

.sneaker-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .sneaker {
        background-color: #fff;
        width: 1200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sneaker-top {


            width: 1200px;
            display: flex;
            overflow: hidden;

            .sneaker-img {

                width: 470px;
                height: 300px;
            }

            .sneaker-right {
                margin-left: 70px;
                margin-right: 15px;

                & p {
                    margin-top: 45px;
                }

                &-icon {
                    font-size: 30px;
                    margin-bottom: 2px;
                }

                &-btn {
                    margin-top: 45px;

                    &:hover {
                        color: crimson !important;
                    }

                    & a {
                        color: black;
                        font-size: 20px;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: crimson;
                        }
                    }
                }
            }

            .sneaker-title {
                font-size: 30px;
                margin-top: 45px;

                & a {
                    color: black;

                    &:hover {
                        color: crimson;
                    }
                }

            }

        }

        .sneaker-bot {
            width: 1200px;
            margin-top: 15px;

            display: flex;
            overflow: hidden;
        }
    }


}

.slip-on-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .slip-on {
        background-color: #fff;
        width: 1200px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slip-on-top {


            width: 1200px;
            display: flex;
            overflow: hidden;

            .slip-on-img {

                width: 470px;
                height: 300px;
                margin-left: 70px;
            }

            .slip-on-right {

                margin-left: 40px;
                margin-right: 15px;

                & p {
                    margin-top: 45px;
                }

                &-icon {
                    font-size: 30px;
                    margin-bottom: 2px;
                }

                &-btn {
                    margin-top: 45px;

                    &:hover {
                        color: crimson !important;
                    }

                    & a {
                        color: black;
                        font-size: 20px;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: crimson;
                        }
                    }
                }
            }

            .slip-on-title {
                font-size: 30px;
                margin-top: 45px;

                & a {
                    color: black;

                    &:hover {
                        color: crimson;
                    }
                }

            }

        }

        .slip-on-bot {
            width: 1200px;
            margin-top: 15px;

            display: flex;
            overflow: hidden;
        }
    }


}

.list-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-container-product {
    display: flex;
    
    .list-task {
        display: flex;
        flex-direction: column;
        width: 263px;
        height: 58;
        margin-top: 25px;
        position: relative;
    }

    .list-product {
        width: 950px;
        height: 769px;
        
    }

    .list-task-title {
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .list-task-a {
        margin: 7px 0px 7px 20px;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;
    }

    .list-task-icon {
        position: absolute;
        right: 10px;
    }

    .list-task-a-child {
        margin: 7px 0px 7px 50px;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;
    }
    .list-hover:hover
    {
        color:rgb(224, 63, 63)
    }
}
.list-product
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    .list-product-btn
    {
        display: flex;
        justify-content: center;
        width: 100%;

    }
    .list-product-btn-all
    {
        display: flex;
        align-items: center;
        padding: 0px 12px 0px 20px;
        color:#fff;
        background-color: crimson;
        font-weight: bold;
    }
}
