.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e8e8e8;
}

.bg-img {
    width: 100%;
    height: 500px;
}

.main-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-item-task {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 20px 0px 20px 0px;
}



.item-main {

    margin: 10px  10px  10px 15px;
    display: block;
    overflow: hidden;
    position: relative;


    .task-img {
        transform: scale(1);
        display: block;
        transition: all .3s ease;
        filter: brightness(85%)
    }

    .task-img:hover {
        transform: scale(1.1);
    }

}

.item-main-text {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;

    &:hover {
        color: crimson;
        transition: all .2s;
    }

}

.selling-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
    .selling {
        width: 1200px;
        text-align: center;
        background-color: #fff;

    }

    .selling-title {
        margin: 20px 0px 30px 0px;
        font-size: 27px;
        text-decoration: none;
        font-weight: inherit;
    }
}
.selling-list-item
{
    display: flex;
    flex-wrap: wrap;
   
}